<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.2/phpunit.xsd"
	colors="true"
	processIsolation="true"
>
	<testsuites>
		<testsuite name="classes">
			<directory>Tests/Classes</directory>
		</testsuite>
	</testsuites>
</phpunit>
